{% extends "base.html" %}
{% block title %}Game{% endblock %}

{% block head %}
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">-->
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        .main-container {
            display: flex;
            padding: 10px;
        }

        #connected-users {
            margin-left: 2vw;
            margin-top: 2vw;
            padding: 10px;
            border: 3px solid black;
            border-radius: 10px;
            width: 20vw;
            height: 15vw;
            overflow: auto;
        }

        .start-game-container {
            margin-left: 2vw;
            margin-top: 1vw;
            padding: 10px;
            border: 3px solid black;
            border-radius: 10px;
            width: 10vw;
        }

        #start-button {
            background-color: lightgreen;
            border-radius: 5px;
            height: 3vw;
            width: 100%;
            cursor: pointer;
        }

        .title-container {
            border: 3px solid black;
            border-radius: 10px;
            padding: 5px;
        }

        .user-div {
            margin-left: 1vw;
            border: 3px solid black;
            border-radius: 10px;
            margin-top: 0.5vw;
            padding: 5px;
            width: 10vw;
            display: flex;
        }

        .leave-container {
            margin-left: 1vw;
            flex: 1;
        }

        .leave-button {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: red;
            cursor: pointer;
        }

        #main-game-board {
            height: 40vw;
            width: 100%;
            border-radius: 10px;
            margin-left: 5vw;
            margin-top: 2vw;
            border: 3px solid black;
            background-color: green;
            visibility: hidden;
            padding: 10px;
        }

        .deck-container {
            margin-left: 10vw;
            margin-top: 15vw;
        }

        .user-cards {
            border: 3px solid black;
            width: 30vw;
            margin: auto;
            border-radius: 10px;
            height: 10vw;
            padding: 10px;
        }

        #popup-window {
            height: 10vw;
            margin-left: 50%;
            padding: 10px;
            border-radius: 10px;
            border: 3px solid black;
            width: 20%;
            margin-top: 2vw;
            z-index: 1;
            position: absolute;
            visibility: hidden;
        }

        #close-popup {
            border-radius: 5px;
            background-color: blue;
            cursor: pointer;
        }

        .users-cards-container {
            background-color: rgb(0, 255, 51);
            width: 60vw;
            margin-left: 3vw;
            border-radius: 10px;
            height: 10vw;
            margin-left: 5vw;
            position: absolute;
            margin-top: 2vw;
            padding: 10px;
            display: flex;
            overflow: auto;
        }

        .user-card-section {
            height: 6vw;
            width: 10vw;
            border-radius: 10px;
            background-color: green;
            margin-left: 2vw;
            padding: 10px;
        }

        .cards-container {
            display: flex;
        }

        .card-container {
            margin-left: 0.5vw;
        }

        .replay-game-container {
            margin-left: 2vw;
            margin-top: 1vw;
            padding: 10px;
            border: 3px solid black;
            border-radius: 10px;
            width: 10vw;
        }

        #replay-button {
            background-color: lightgreen;
            border-radius: 5px;
            height: 3vw;
            width: 100%;
            cursor: pointer;
        }

        .new-card {
            display: flex;
        }

        .decline-container {
            margin-left: 0.5vw;
        }

        .chat-container {
            border: 3px solid black;
            border-radius: 10px;
            margin-left: 2vw;
            margin-top: 1vw;
            padding: 10px;
        }

        .chat-container-inner {
            height: 90%;
            border: 3px solid black;
            border-radius: 10px;
            padding: 10px;
            height: 15vw;
            overflow: auto;
        }

        .send-container {
            margin-top: 5px;
            height: 0.5vw;
            padding: 10px;
        }

        input {
            width: 10vw;
            border-radius: 5px;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="popup-window"></div>

    <div class="main-container">
        <div class="left-container">
            <div id="connected-users"></div>
            {% if is_creator and not has_started %}
                <div class="start-game-container">
                    <div class="button-container">
                        <button id="start-button">Start game</button>
                    </div>
                </div>
            {% endif %}
            <div class="chat-container">
                <div class="chat-container-inner">
                    {% for chat in chats %}
                        <div class="chat">
                            <div class="chat-top-container">
                                <p>{{chat[1]}} | {{chat[2]}}</p>
                            </div>
                            <div class="chat-content-container">
                                <p>{{chat[0]}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="send-container">
                    <div class="input-container-inner">
                        <input placeholder="Send a message..." id="message-input">
                    </div>
                </div>
            </div>
            {% if is_creator and has_ended %}
                <div class="replay-game-container">
                    <div class="button-container">
                        <button id="replay-button" onclick="replay()">Replay</button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="main-game-board">
            <div class="users-cards-container">
                {% for user in connected %}
                    <div class="user-card-section" id="{{user}}-section">
                        <div class="username-container">
                            <p><strong>{{user}}</strong></p>
                        </div>
                        <div class="cards-container" id="{{user}}-cards">
                            {% for card in all_cards[user] %}
                                <div class="card-container">
                                    {% if user == logged_user %}
                                        <img src="{{ url_for('static', filename='images/cards/' + card + '.jpg') }}" alt="card" height="50">
                                    {% endif %}
                                    {% if user != logged_user %}
                                        <img src="{{ url_for('static', filename='images/card.png') }}" alt="deck" height="50">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="deck-container">
                <div class="deck-container-inner">
                    <img src="{{ url_for('static', filename='images/card.png') }}" alt="deck" height="100">
                </div>
            </div>
            <div class="new-card-container">
                <div id="new-card-container-inner">

                </div>
            </div>
            <div class="user-cards">
                <div class="subtilte-contianer">
                    <h2>Your cards</h2>
                </div>
                {% for card in cards %}
                    <img src="{{ url_for('static', filename='images/cards/' + card + '.jpg') }}" alt="{{ card }}" height="70">
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
